<header>
    <div class="col">
        <a href="./" class="logo"><img src="./img/bounties.png" /></a>
    </div>
    <nav>
        <ul>
            <li class="has-submenu">
                <a href="./background/">Background<i class="arrow"></i></a>
                <div class="submenu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 text-right">
                                <h4>A History of Giving</h4>
                            </div>
                            <div class="col-md-4 offset-md-1">
                                <ul>
                                    <li><a href="./background/canada.html" class="link-arrow">Canada</a></li>
                                    <li><a href="./background/south-africa.html" class="link-arrow">South Africa</a></li>
                                    <li><a href="./background/the-world.html" class="link-arrow">The World</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="<% if(is_current('our-goal')) { %>active<% } %>"><a href="./our-goal/">Our Goal</a></li>
        </ul>
    </nav>
    <div class="col btns text-right">
        <a href="./" class="btn btn-purple btn-arrow">DONATE</a>
    </div>
    <a href="#" class="mobile-nav-trigger">
        <svg width="22" height="8" viewBox="0 0 22 8" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect width="22" height="1" rx="0.5" fill="#090909"/> <rect y="7" width="22" height="1" rx="0.5" fill="#090909"/> </svg>
    </a>
    <div class="mobile-nav">
        <div class="mobile-nav-header">
            <a href="/" class="logo"><img src="./img/bounties.png" /></a>
            <a href="#" class="mobile-nav-trigger-close">
                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect x="1.5752" y="0.368273" width="22" height="1" rx="0.5" transform="rotate(45 1.5752 0.368273)" fill="#090909"/> <rect x="0.868164" y="15.9246" width="22" height="1" rx="0.5" transform="rotate(-45 0.868164 15.9246)" fill="#090909"/> </svg>
            </a>
        </div>
    </div>
    <div class="backdrop"></div>
</header>